============================================================
      🎯 血细胞 Active Learning 筛选报告 ( QA 评估 )      
============================================================

【 类别: EOS 】
 - 大模型初筛认定目标类数量: 55
   [算法 A: K-Means++] 抽取 50 张 | 命中 15 张 | QA 准确率: 30.00%
   [算法 B: DensityCore] 抽取 50 张 | 命中 15 张 | QA 准确率: 30.00%
   [算法 C: Graph + NMS] 抽取 50 张 | 命中 15 张 | QA 准确率: 30.00%
------------------------------------------------------------

【 类别: LYM 】
 - 大模型初筛认定目标类数量: 24
   [算法 A: K-Means++] 抽取 24 张 | 命中 22 张 | QA 准确率: 91.67%
   [算法 B: DensityCore] 抽取 24 张 | 命中 22 张 | QA 准确率: 91.67%
   [算法 C: Graph + NMS] 抽取 24 张 | 命中 22 张 | QA 准确率: 91.67%
------------------------------------------------------------

【 类别: MON 】
 - 大模型初筛认定目标类数量: 0
 - ⚠️ 未能找到任何属于该类的样本。

【 类别: NEU 】
 - 大模型初筛认定目标类数量: 425
   [算法 A: K-Means++] 抽取 50 张 | 命中 11 张 | QA 准确率: 22.00%
   [算法 B: DensityCore] 抽取 50 张 | 命中 7 张 | QA 准确率: 14.00%
   [算法 C: Graph + NMS] 抽取 50 张 | 命中 15 张 | QA 准确率: 30.00%
------------------------------------------------------------

